*.pyc
NSRP/NSRP.egg-info*
*ipynb_checkpoints*
*DS_Store*
*__pycache__*
dist/*
*egg-info*
notebooks/CAL*
notebooks/SIM*
notebooks/auxiliary-materials/SN/*
notebooks/STNSRP_test_Ason_UTM.ipynb
notebooks/STNSRP_test_Ason-Hourly.ipynb
notebooks/STNSRP_test_SN.ipynb
notebooks/ASON/*
